<!DOCTYPE html>
<html>
   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-20.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Timestamp microservice</h1>
        <h3>Example usage:</h3>
        <p><a href="https://cedar-sailor.glitch.me/December%2015,%202015" target="_blank">https://cedar-sailor.glitch.me/December%2015,%202015</a></p>
        <p><a href="https://cedar-sailor.glitch.me/1450137600" target="_blank">https://cedar-sailor.glitch.me/1450137600</a></p>
        <h3>Example output:</h3>
        <p>{ "unix": 1450137600, "natural": "December 15, 2015" }</p>
      </div>
   </body>
</html>
